body {
    font-family: Arial;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: darkblue;
}

.form-section {
    margin-bottom: 30px;
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 12px;
    background-color: darkblue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: navy;
}